body {
    background-color: black;
}
h1 {
    color: cornsilk;
    text-align: center;
}
.container-fluid {
    justify-content: right;
}

.nav-item {
    color: blanchedalmond;
}

.intro {
    padding-top: 30px;
}
.img-fluid {
    border-radius: 30px;
}
