<router-outlet></router-outlet>

<div class="header">

    <nav class="navbar navbar-expand-lg">
      
      <div class="container">
       <div class="logo"><img src="assets/zintle-logo.png" alt="" class="img-logo"></div>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
         
            <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">About</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">Portfolio</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">Services</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">Hire Me</a>
             </li>
             
           </ul>
         </div>
       </div>
     </nav>
   </div>     
