
  <section class="intro">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Hire Me</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>
        
          <div class="container" id="zintle">
              <div class="row content">
                  
        <div class="col-md-6 text">
        <h1>Hi, I'm <span>Zintle</span> and I am a Developer!</h1>
        <p>This is my official portfolio website that has all my details, <br>experiences and services</p>
        </div>

        <div class="col-md-6 mb-3">
          <img src="assets/zintle.jpg" class="img" alt="">
        </div>

        <a href="#">DOWNLOAD CV</a>
            </div>
    </div>
    </section>

<router-outlet></router-outlet>
