<router-outlet></router-outlet>

    <div class="header">

     <nav class="navbar navbar-expand-lg">
       
       <div class="container">
        <div class="logo"><img src="assets/zintle-logo.png" alt="" class="img-logo"></div>
         <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav ms-auto ">
             <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Hire Me</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    </div>     
      
          

         <section class="services">
          <!--style="background-image: url('assets/bg-img.jpg'); background-size: cover; height: 480px;"> -->
          <div class="container" id="zintle">
            <div class="row content">
                <div class="col-md-6 text">
                  <h1>Hi, I'm <span>Zintle.</span> Full Stack Website Developer</h1>
                  <h3>This is my official portfolio website.</h3>
                  <h4>For good looking Websites and Web Apps specializing in Angular </h4>
                  <button class="cv"><a href="../assets/MESLANE.pdf">DOWNLOAD CV</a></button>
                </div>

                <!-- <div class="col-md-6 mb-3">
                  <img src="assets/zintle.jpg" class="img" alt="">
                </div> -->
            </div>
        </div>       
          
        </section>

        <section class="contact">
          <div class="container" >
            <div class="row">

              <div class="col-md-6">
                <img src="assets/anime.png" class="img" alt="">
              </div>

              <div class="col-md-6 par">
                <p> You have a business that you want to market for your goods and services but don't have a website or app? I am your go-to person.
                  I develop sites from scratch. From designing to its functionality (Front-end and Back-end) and then deploy them for you. 
              
                </p>
              
              <form action="" class="form">
                <input type="text" id="name" placeholder="Name">
                <input type="email" id="email" placeholder="Email">
              </form>
              <button class="submit">SEND A MESSAGE</button>
            
          </div>
            
            </div>
        </div>
        </section>

        <section id="references" class="p-4">
          <h2 class="heading text-center">My References</h2>
          
          <!-- <div class="row"> -->
          <div class="card-deck">
            <div class="container row p-4">
              <!-- <div class="card-container row"> -->
                
              <div class="col-md-4 card">
                <div class="card-body">
                  <h5 class="card-title">Reference 1</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <!-- <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div> -->
              </div>

              <div class="col-md-4 card">  
                <div class="card-body">
                  <h5 class="card-title">Reference 2</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <!-- <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div> -->
              </div>

              <div class="col-md-4 card">
                <div class="card-body">
                  <h5 class="card-title">Reference 3</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <!-- <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div> -->
              </div>
            </div>

          <!-- </div> -->
        </div>
      <!-- </div> -->

    </section>

    <section class="projects">
      <h2 class="text-center">Projects</h2>
      <div class="container row p-4">
        <div class="col-md-4 card">
          <div class="card-body">
            <h5 class="card-title">Reference 3</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead. This card has even longer content than the first to show that equal height action.</p>
          </div>
      </div>
      </div>
    </section>
    
    <section class="contact-section sec-padding " id="contact" >
      
      <div class="container row p-4">
        <h2 class="title text-center">Get In Touch</h2>
              <div class="col-md-6 contact-form">
                  <form action="https://formspree.io/f/mdoboalr" method="POST" id="form">
                      <div class="row">
                          <div class="input-group">
                              <input type="text" id="name" name="name" placeholder="Name" class="input-control" required>
                          </div>
                          <div class="input-group">
                              <input type="text" id="email" name="email" placeholder="Email" class="input-control" required>
                          </div>
                          <div class="input-group">
                              <input type="text" id="subject" name="subject" placeholder="Subject" class="input-control" required>
                          </div>
                          <div class="input-group">
                              <textarea id="subject" name="message"  placeholder="Message" class="input-control" required></textarea>
                          </div>
                          <div class="submit-btn">
                              <button type="submit" class="btn">send message</button>
                          </div>

                      </div>
                  </form>
              </div>
              <div class="col-md-6 contact-info">
                  <div class="contact-info-item">
                      <h3>Email</h3>
                      <p>meslanezintle@gmail.com</p>
                  </div>
                  <div class="contact-info-item">
                      <h3>Phone</h3>
                      <p>+27 62 2956 033</p>
                  </div>
                  <div class="contact-info-item">
                      <h3>Follow me</h3>
                      <div class="social-links">
                          <a href="https://twitter.com/khethelogp/" target="blank"><i class="fab fa-twitter"></i></a>
                          <a href="https://instagram.com/khetman_/" target="blank"><i class="fab fa-instagram"></i></a>
                          <a href="https://github.com/zintle96"> <img src="assets/github-lg.png"></a>
          <a href="https://www.linkedin.com/in/zintle-meslane-69ab1719a/"> <img src="assets/linkedin-lg.png" alt=""></a>
                          <a href="mailto:khethelogp@gmail.com" target="blank"><i class="far fa-envelope"></i></a>
                      </div>
                  </div>
              </div>
          
      </div>
  </section>
    
      
    

