<router-outlet></router-outlet>
<section style="background-color: rgba(207, 98, 98, 0.815);">
<div class="container p-5">
    <h2 class="text-center pb-4">About Me</h2>
    <div class="row">
        <div class="col-md-6" id="image">
        <img src="assets/zintle.jpg" alt="">
    </div>
    <div class="col-md-6" id="about">
        <p>I am a juniour Software Developer using the MEAN Tech Stack. I am a young curious and passionate individual who is inspired by programming. I am always keen on learning about the new trends and latest technologies. I would consider myself as a natural leader, as I have led in the previous activities/programs I was in, even at school.  
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae exercitationem, magni nam cum rem totam possimus, officiis id aspernatur at a eum quia, molestias explicabo veniam perspiciatis vitae? Expedita, dolorum.
        </p>
    </div>
    </div>

    <h2>Skills</h2>
</div>
</section>
