<router-outlet></router-outlet>
<section class="pt-5" style="background-color: rgba(207, 98, 98, 0.815);">

<div class="container-fluid " id="about">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <!-- <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1> -->
            <h1 class="text-uppercase">About Me</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0 image">
                <img class="img-fluid " src="assets/meslane.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">UI/UX Designer & Web Developer</h3>
                <p>I am a juniour Software Developer using the MEAN Tech Stack. I am a young curious and passionate individual who is inspired by programming. I am always keen on learning about the new trends and latest technologies.</p>
                
            </div>
            </div>
            <!-- Education and Experience -->
            <div class="container-fluid py-5" id="qualification">
                <div class="container">
                    <div class="position-relative d-flex align-items-center justify-content-center">
                        <h1 class="text-uppercase">Education & Expericence</h1>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h3 class="mb-4">My Education</h3>
                            <div class="border-left border-primary pt-2 pl-4 ml-2">
                                <div class="position-relative ex-me mb-4">
                                    <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -35px; font-size: 22px;"></i>
                                    <h5 class="font-weight-bold mb-1">NQF Level 5 (IT System Support)</h5>
                                    <p class="mb-2"><strong>ABSA</strong> | <small>Currently</small></p>
                                    <p>Gaining knowledge about computers, electronic system, network and technical issues.</p>
                                </div>
                                <div class="position-relative ex-me mb-4">
                                    <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -35px; font-size: 22px;"></i>
                                    <h5 class="font-weight-bold mb-1">Bachelor of Arts (Psychology)</h5>
                                    <p class="mb-2"><strong>University of the Western Cape</strong> | <small>2015 - 2019</small></p>
                                    <p>Developed an understanding of psychology. Gained knowledge of different kinds of psychology including Brain and behaviour, Child development, Personality theory, Psychopathology, Social Identity and Social Oppression, Human Development and Research Methods.</p>
                                </div>
                                <div class="position-relative ex-me mb-4">
                                    <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -35px;  font-size: 22px;"></i>
                                    <h5 class="font-weight-bold mb-1">Grade 12</h5>
                                    <p class="mb-2"><strong>Vista Secondary School</strong> | <small>2009 - 2013</small></p>
                                    <p>Tempor eos dolore amet tempor dolor tempor. Dolore ea magna sit amet dolor eirmod. Eos ipsum est tempor dolor. Clita lorem kasd sed ea lorem diam ea lorem eirmod duo sit ipsum stet lorem diam</p>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h3 class="mb-4">My Expericence</h3>
                            <div class="border-left border-primary pt-2 pl-4 ml-2">
                                <div class="position-relative ex-me mb-4">
                                    <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px;left: -35px;  font-size: 22px;"></i>
                                    <h5 class="font-weight-bold mb-1">Full Stack Web Development</h5>
                                    <p class="mb-2"><strong>The Digital Academy</strong> | <small>2021 - Currently</small></p>
                                    <p>Developed an understanding of the Back-end Developed. I worked with the MEAN Tech Stack, which entails Angular, TypeScript, Node.js/Express.js, Firebase, JavaScript, Bootstrap, Git, Heroku, Trello. Developed a few projects, including an app for MTN Ayoba. Now I am currently learning about React and SQL</p>
                                </div>
                                <div class="position-relative ex-me mb-4">
                                    <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px;left: -35px;  font-size: 22px;"></i>
                                    <h5 class="font-weight-bold mb-1">Digital Associate (Internship)</h5>
                                    <p class="mb-2"><strong>ABSA YES Programme</strong> | <small>2019 - 2020</small></p>
                                    <p>Took my first steps towards pursuing a career in programming. Here I developed an understanding of basic coding languages, techniques and skills. Front-end development and web design. HTML, CSS, Bootstrap and JavaScript.</p>
                                </div>
                                <div class="position-relative ex-me mb-4">
                                    <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px;left: -35px;  font-size: 22px;"></i>
                                    <h5 class="font-weight-bold mb-1">Multi-skilled Employee</h5>
                                    <p class="mb-2"><strong>Ster-Kinekor Cinemas</strong> | <small>2017 - 2018</small></p>
                                    <p>Here I mainly worked as a cashier. However, I was a cinema assistant as well, and that involved assisting customers with enquiries related to purchase of products and the company's services.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</section>
<!-- <div class="container-fluid" id="skill"> skills-->
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="text-uppercase pt-4">My Skills</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">HTML</h6>
                    </div>
                </div>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">CSS</h6>
                    </div>

                </div>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">TypeScript</h6>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">Javascript</h6>
                    </div>
                    
                </div>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">Angular JS</h6>
                        <h6 class="font-weight-bold">60%</h6>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">Git</h6>
                        <h6 class="font-weight-bold">55%</h6>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
