
<section id="about" class="py-5" style="background-color: rgba(207, 98, 98, 0.815);">

    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <!-- <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1> -->
            <h1>ABOUT ME</h1>
        </div>
        <div class="row">
            <div class="col-md-6 pb-4 pb-lg-0 image">
                <img class="img-fluid " src="assets/meslane.jpg" alt="">

                <div class="skills">
                    
                <button class="btn btn-primary btn-lg show">HTML5</button>
                <button class="btn btn-primary btn-lg show">CSS3</button>
                <button class="btn btn-primary btn-lg show">JavaScript</button>
            
                <button class="btn btn-primary btn-lg show">Angular</button>
                <button class="btn btn-primary btn-lg show">NodeJS</button>
                <button class="btn btn-primary btn-lg show">GIT</button>
                <button class="btn btn-primary btn-lg show">NoSQL</button>
            
            </div>
        </div>
            <div class="col-md-6 pt-5">
                <p>I am a juniour Software Developer using the MEAN Tech Stack. I am a young curious and passionate individual who is inspired by programming. I am always keen on learning about the new trends and latest technologies.</p>
                <p>I am currently seeking opportunities which will allow me to further improve my technical skills for business solutions as an ambitious life-long learner.</p>
            </div>
            </div>
    </div>
</section>
            

